body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    background-color: #444;
    color: #fff;
    text-align: center;
}

.divider {
    border-top: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin: 12px;
  }

.list{
    padding: 4px;
}

.input {
    display: flex;
    margin: 12px;
}

.input input {
    width: -webkit-fill-available;
}

.content p {
    text-align: start;
}

.todo-done p {
    text-decoration: line-through;
}